<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.or">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SisGen</title>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body >
	<div class=" bg-light  col-6 align-items-center ms-5 ">
		<div class="ms-4">
	        <h2 class="text-center mt-4" >Editar Sócio #<span th:text="${socioId}"></span></h2>
	    </div>
		
		<div class="col-6 ms-5 ">
			<form th:object=${RequestSocio} th:action="@{/socios/{id}(id=${socioId})}" method="post">
				<div class="ms-4">
					<label for="nome" class="form-label">Nome</label> 
					<input type="text" name="nome" class="form-control" id="nome" th:field="*{nome}">
				</div>
				<div class="align-items-center ms-4">
					<label for="ativo" class="form-label">Ativo</label> 
					<input type="text" name="ativo" class="form-control" id="ativo" th:field="*{ativo}">
				</div>
				<div class="align-items-center ms-4">
					<label for="renda" class="form-label">Renda</label> 
					<input type="text" name="renda" class="form-control" id="renda" th:field="*{renda}">
				</div>
				<button type="submit" class="btn btn-primary mt-4 ms-4">Salvar</button>
			</form>
		</div>
	</div>
</body>
</html>
    
    
